// _ indica que e so uma parte e nao o principal por isso n gera arquivo

$bg-title-color: skyblue;
$title-color: darkblue;

$colors: (
    primary: royalblue,
    success: green,
    alert: yellow,
    danger: red,
    padrao: grey
)